* {
  box-sizing: border-box;
}

.chat-enter-new-message-section {
	position: relative;
	width: 100%;
	padding: 30px 100px;
}

.new-message-profile-picture-container {
	position: absolute;
	left: -60px;
	top: 0;
}

.new-message-profile-picture {
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

.box-new-message-container {
	position: relative;
	width: 100%;
	min-height: 120px;
	box-shadow: 0 10px 40px 0 rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
}

.input-new-message {
	outline: none;
	border: none;
	padding: 23px 30px 10px 30px;
	height: auto;
	transition: height 2s;
	resize: none;
}

.bottom-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	padding: 10px 10px 10px 20px;
}

.media-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: white;
  outline: none;
  border: none;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	cursor: pointer;
	padding: 7px;
}

.media-button:hover {
	filter: grayscale(100%);
}

.send-button-container {
	width: 124px;
	height: 50px;
	background-color: #4f46b3;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 2px;
	cursor: pointer;
	transition: box-shadow 0.25s;
}

.send-button-container:hover {
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);
}

.send-icon {
	margin-left: 20px;
	margin-right: 10px;
	height: 30px;
	width: 30px;
}

.send-text {
	font-family: Bariol;
	font-weight: bold;
	font-size: 0.875rem;
	color: #fff;
}